p.center-text
    | Forever 
    a(href='https://github.com/nisrulz/app-icon-badger#app-icon-badger' target='_blank' rel='noopener noreferrer') free and open-source
    |, built with 
    span.heart ♥️ 
    | by 
    a(href='http://www.nisrulz.com/' target='_blank' rel='noopener noreferrer') Nishant
    |  and 
    a(href='https://github.com/nisrulz/app-icon-badger/graphs/contributors' target='_blank' rel='noopener noreferrer') contributors.
p.center-text
    a(href='https://bsky.app/intent/compose?text=%F0%9F%A6%A1%20App%20Icon%20Badger%3A%20Generate%20custom%20badges%20and%20version%20labels%20for%20your%20app%20icons%20and%20logos%20%F0%9F%9A%80%0A%F0%9F%91%A8%F0%9F%8F%BB%E2%80%8D%F0%9F%92%BB%20Built%20by%20%40nisrulz.com%0A%E2%9C%85%20Web%20App%3A%20https%3A%2F%2Fapp-icon-badger.web.app%0A%F0%9F%A7%B0%20Github%3A%20https%3A%2F%2Fgithub.com%2Fnisrulz%2Fapp-icon-badger%23app-icon-badger' target='_blank' rel='noopener noreferrer')
        img(style='margin-right: 6px' src='https://img.shields.io/badge/Bluesky-0285FF?logo=bluesky&logoColor=fff&label=Share%20on&color=0285FF' alt='Bluesky')
    a(href='https://ko-fi.com/A443EQ6', target='_blank')
        img(class='ko-fi-btn', src='https://storage.ko-fi.com/cdn/kofi1.png?v=3', alt='Buy Me a Coffee at ko-fi.com')
