include preload.pug 

//- Fonts
link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')
//- Stylesheets with cache control
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
link(rel='stylesheet' href='css/bg-pattern.css')
link(rel='stylesheet' href='css/style.css')


