//- Preconnect to reduce connection overhead
link(rel='preconnect' href='https://cdnjs.cloudflare.com')
link(rel='preconnect' href='https://fonts.googleapis.com')
//- Preload critical assets
link(rel='preload' href='css/bg-pattern.css' as='style')
link(rel='preload' href='css/style.css' as='style')
link(rel='preload' href='js/app.js' as='script')
