doctype html
html(lang="en")
    //- Application code
    head
        include includes/head.pug
    body.bg-pattern.center-body
        #app.container
            include includes/content.pug
        include includes/footer.pug
